---
layout: blog
title: Home
cover: false
pagination:
  enabled: true
---

<!--
<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h4 class="page-title">{{ site.name }}</h4>
            <h5 class="page-description">
                {% if site.description %} {{ site.description }} {% endif %}
            </h5>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
-->
<style>
  .title {
    padding-left: 15px; 
    color: #0c2e47; 
    font-weight: 600; 
    font-size: 1.8em; 
    font-family: medium-content-sans-serif-font,'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Arial,sans-serif;
  }
  .desc {
    font-weight: 400;
    color: #9EABB3;
  }
  @media (min-width: 501px) {
    .title {
        padding-left: 10%;
    }
  }
</style>
<header style="margin-top: 25px; margin-bottom: 100px; padding-top: 25px;">
  <span class="title">
            <a class="navbar-brand logo text" href="/" style="height: 60px; width: 60px; display: inline-block; vertical-align: top;">
                <svg fill="none" viewBox="0 0 46 30">
                <g fill="#000">
                <path d="m13.633 17.141 1.77-3.708v6.474h1.947v-10.3h-1.96l-2.532 5.297-2.532-5.297h-1.962v10.3h1.946v-6.474l1.771 3.708zm11.403-.118c0 .81-.541 1.28-1.375 1.28-.864 0-1.45-.53-1.508-1.324v-.015h-1.917v.015c.146 1.869 1.375 3.076 3.41 3.076 2.064 0 3.322-1.104 3.322-2.929 0-.81-.41-1.898-1.083-2.325.747-.53 1.083-1.412 1.083-2.178 0-1.765-1.258-3.163-3.366-3.163-2.034 0-3.22 1.206-3.366 3.075v.015h1.917v-.015c.059-.794.585-1.324 1.449-1.324.922 0 1.434.588 1.434 1.486 0 .765-.57 1.207-1.507 1.207h-.85v1.75h.85c.893 0 1.507.53 1.507 1.37zm12.428-.78v-2.972c0-2.28-1.405-3.811-3.864-3.811s-3.864 1.53-3.864 3.81v2.973c0 2.281 1.405 3.812 3.864 3.812 2.46 0 3.864-1.53 3.864-3.812zm-1.961 0c0 1.192-.834 1.855-1.903 1.855-1.068 0-1.902-.663-1.902-1.855v-2.972c0-1.192.834-1.854 1.902-1.854 1.069 0 1.903.662 1.903 1.854z"/>
                <path clip-rule="evenodd" d="m43.91 2.102h-41.82v25.226h41.82zm-43.91-2.102v29.43h46v-29.43z" fill-rule="evenodd"/>
                </g>
                </svg>
            </a>
  </span>
</header>

<main id="content" class="content" role="main">
    <div class="post">
      <h2 class="post-header">Blog</h2>
      <h5 class="post-header desc">{% if site.description %} {{ site.description }} {% endif %}</h5>
    </div>

    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url | prepend:site.baseurl }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="{{ site.baseurl }}/assets/images/profile.jpg" alt="Author's profile picture" nopin="nopin" />
                <a href="{{ site.author_url }}">{{ site.author }}</a>
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
